<div class="align">
    <div class="timeline">
        <ol class='stream-items'> 
        {{#each tweets}}
            <li class='tweet' id='{{id}}'>
                <a class='account-group'>
                    <img class='avatar' src='{{user.profileImageUrl}}'/>
                    <div class='tweet-user'>
                        {{user.name}} @{{user.screenName}}
                    </div>
                </a>
                <div class='time'>{{createdAt}}</div>
                <div class='tweet-text'>{{text}}</div>
            </li>
        {{/each}}
        </ol>
    </div>
</div>