/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-ene-2016, 18:26:04
    Author     : Armando
*/


.background-image {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('../img/login/city-people-street-sun.jpg');

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   

    /* -webkit-filter: blur(1px);
     -moz-filter: blur(1px);
     -o-filter: blur(1px);
     -ms-filter: blur(1px);
     filter: blur(1px);*/
}
.marco {
    height: 550px;
    width: 350px;
    margin: 0 auto;
    margin-top: 4vw;

    background-color: #00aced;

}
.marco .icon {
    height: 40px;
    margin-top: 50px;
    margin-left: 43%;
}

p {
    margin-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
    margin-bottom: 250px;
}

.marco .a-login{
    text-decoration:none; 
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    color: #00aced;
    background-color: white;

    font-weight: bold;
    padding: 10px 100px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
}